:root {
    --background-color: rgba(0, 0, 0, 1);
    --secondary-background-color: rgba(24, 24, 24, 1);
    --border-color: rgba(24, 24, 24, 1);
    --foreground-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(255, 226, 182, 1);
    --secondary-accent-color: rgba(161, 121, 220, 1);

    --title-size: calc(1.5rem + (1vw - .08em)*.7);
    --subtitle-size: calc(1.1rem + (1vw - .28em)*.7);
    --text-size: calc(1rem + (1vw - .78em)*.7);
}



* {
    color: var(--foreground-color);
    font-family: 'Inter', sans-serif;
}

body,
html {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body,
html>* {
    width: 100%;
    height: 100%;
}

button {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    height: 2.5em;
    max-height: 2.5em;
    font-size: var(--text-size);
}

button:hover {
    cursor: pointer;
    -webkit-animation: pulsate-bck 0.5s both;
    animation: pulsate-bck 0.5s both;
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}